@keyframes appear {
    0% {
       transform: scalex(0);

    }
    100% {
        transform: scaleX(1)
        
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
}

@keyframes glitch {
	0% {
		transform: translate(2px,-1px);
		opacity: .8;
	}
	20% {
		opacity: .2;
	}
	30% {
		opacity: 1;
	}
	40% {
		opacity: .3;
		transform: translate(0px,-1px);
	}
	50% {
		transform: translate(2px,0);
		opacity: .5;
	}
	70% {
		transform: translate(-3px,2px);
		opacity: 1;
	}
	100% {
		transform: translate(2px,-1px);
		opacity: .8;
	}
}

@keyframes glitch1 {
	0% {
	  transform: none;
	  opacity: 1;
	}
	7% {
	  transform: translateX(1px,2px);
	  opacity: 0.75;
	}
	10% {
	  transform: none;
	  opacity: 1;
	}
	27% {
	  transform: none;
	  opacity: 1;
	}
	30% {
	  transform: translateX(-1px,0);
	  opacity: 0.75;
	}
	35% {
	  transform: none;
	  opacity: 1;
	}
	52% {
	  transform: none;
	  opacity: 1;
	}
	55% {
	  transform: skew(-1deg, 0.2deg);
	  opacity: 0.75;
	}
	50% {
	  transform: none;
	  opacity: 1;
	}
	72% {
	  transform: none;
	  opacity: 1;
	}
	75% {
	  transform: skew(0.4deg, 1deg);
	  opacity: 0.75;
	}
	80% {
	  transform: none;
	  opacity: 1;
	}
	100% {
	  transform: none;
	  opacity: 1;
	}
  }
  
  @keyframes glitch2 {
	0% {
	  transform: none;
	  opacity: 0.25;
	}
	7% {
	  transform: translate(-2px, -3px);
	  opacity: 0.5;
	}
	10% {
	  transform: none;
	  opacity: 0.25;
	}
	27% {
	  transform: none;
	  opacity: 0.25;
	}
	30% {
	  transform: translate(-5px, -2px);
	  opacity: 0.5;
	}
	35% {
	  transform: none;
	  opacity: 0;
	}
	52% {
	  transform: none;
	  opacity: 0.25;
	}
	55% {
	  transform: translate(-5px, -1px);
	  opacity: 0.5;
	}
	50% {
	  transform: none;
	  opacity: 0.25;
	}
	72% {
	  transform: none;
	  opacity: 0.25;
	}
	75% {
	  transform: translate(-2px, -6px);
	  opacity: 0.5;
	}
	80% {
	  transform: none;
	  opacity: 0;
	}
	100% {
	  transform: none;
	  opacity: 0.25;
	}
  }
  
  @keyframes glitch3 {
	0% {
	  transform: none;
	  opacity: 0.25;
	}
	7% {
	  transform: translate(2px, 3px);
	  opacity: 0.5;
	}
	10% {
	  transform: none;
	  opacity: 0.25;
	}
	27% {
	  transform: none;
	  opacity: 0.25;
	}
	30% {
	  transform: translate(5px, 2px);
	  opacity: 0.5;
	}
	35% {
	  transform: none;
	  opacity: 0.25;
	}
	52% {
	  transform: none;
	  opacity: 0.25;
	}
	55% {
	  transform: translate(5px, 1px);
	  opacity: 0.5;
	}
	50% {
	  transform: none;
	  opacity: 0.25;
	}
	72% {
	  transform: none;
	  opacity: 0.25;
	}
	75% {
	  transform: translate(2px, 6px);
	  opacity: 0.5;
	}
	80% {
	  transform: none;
	  opacity: 0.25;
	}
	100% {
	  transform: none;
	  opacity: 0.25;
	}
  }

@keyframes three {
	0% {
		opacity: 0;
		transform: translate(0,0)
	}

	25% {
		opacity: .5;
		transform: translate(5px,0);
	}
	50% {
		opacity: .3;
		transform: translate(0,0);
	}
	80% {
		opacity: .2;
		transform: translate(-3px,0);
	}
	100% {
		opacity: 0;
		transform: translate(0,0);

	}
}
@keyframes blend {
	0% {
		opacity: 1;
	}
	80%{
		opacity: 0.35;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(-100%) translatey(-10rem);
	}
	100% {
		opacity: 1;
		transform: translateX(-2rem) translatey(-10rem);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}