.hamburger {
    outline: none;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    padding-left: 14px;
}

.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #eee;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #eee;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -11px;
}
.hamburger-inner::after {
    bottom: -11px;
}


/*spin*/

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Spin Reverse
     */
.hamburger--spin-r .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
    transform: rotate(-225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.slider-page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media (max-width: 800px) {
        width: 100%;
    }

}

.swiper-container {
    position: relative;
    width: 70%;
    height: 105rem;
    transform: translatey(32px) rotate(9deg);


    @media (max-width: 800px) {
        width: 100%;
        height: 100%;
        transform: translatey(0) rotate(0);
        margin: 0;
    }
}

.slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
    transform:translate(-244px,145px) rotate(-8deg) scale(-1.4,1.4);
    @media (max-width: 800px) {
     transform: translateY(0) rotate(0);       
    }
}

.overlaytop{
        position: absolute;
        width: 100%;
        top: 20px;
        right: 32px;
        transform: scale(-1, 1.2) rotate(12deg);
        

        @media (max-width: 800px) {
           transform: scale(1.3) translatey(-10px) translatex(18px) rotate(0)
        }
}
.overlaybot{
    position: absolute;
    width: 100%;
    bottom: -90px;
    transform: rotate(-15deg);
    left: 0;
    @media (max-width: 800px) {
        display: none;
     }
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
}

.swiper-slide {
    padding: 3rem;
    width: 100%;
    height: 35%;
    border-radius: .3rem;
    background: rgba($color-black,.5);
    border: 1px solid rgba($color-white,.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    filter: grayscale(80%);
    transition: filter .5s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    @media (max-width: 800px) {
        height: 30%;
     }

    
    
}

.slide-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    &--1 {
position: absolute;
bottom: 0;
right: 0;
z-index: -1;
        transform: scale(-1.8,1.8) translate(125px,20px);
        @media (max-width: 400px){
           transform: scale(-1, 1) translate(-105px, 87px) rotate(-73deg)
        }
    
    }
    &--2 {
position: absolute;
bottom: 0;
right: 0;
z-index: -1;
        transform: scale(-1.6,-1.6) translate(110px,-15px);

        @media(max-width:400px){
            transform: scale(1.3, 1.3) translate(-159px, 109px) rotate(-84deg)
        }
    }
    &--3 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        transform: scale(-2, 2) rotate(-49deg) translate(78px,20px);

        @media (max-width: 400px) {
           transform: scale(-1.3, -1.3) translate(-126px, -66px) rotate(-57deg)
        }
    }
}
.swiper-active {
    filter: grayscale(0%);
}

.swiper-button-prev,.swiper-button-next{

    display: block;
    
    @media (max-width: 800px) {
        display: none;
    }
}

.navigation-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10%;
}
.slider {
    padding: 2rem;
    &__name-holder{
        height: 2rem;
    position: absolute;
    z-index: 10;
    right: -77px;
    transform: translateY(40px) scale(0.5);

    }

    &__header {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        @media (max-width: 800px) {
            width: 70%;
            height: 30%;
         }
         @media (max-width: 400px) {
            width: 70%;
            height: unset;
         }

        h1 {
            color: $color-white;
            font-size: 4rem;
            font-weight: 400;
            padding: 1rem;

            @media (max-width: 800px) {
                font-size: 2.5rem;
                padding: 0;
            }
        }

    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 80%;
        @media (max-width: 800px) {
            height: 70%;
            justify-content: space-between;
        }
    }

    &__p {
        font-size: 1.8rem;
        font-weight: 100;
        letter-spacing: 2px;
        width: 50%;
        padding: 2rem;
        border-radius: .3rem;
        color:$color-white;
        background: rgba($color-black,.5);
        

        @media (max-width: 800px) {
            font-size: 1.4;
            height: unset;
            padding: 0;
            width: 85%;
        }
        
    }
    &__button {
        width: 15rem;
        height:5rem;
        border-radius: .8rem;
        background:rgba($color-black,.1);
        color: $color-white;
        border: 1px solid rgba(255,255,255,.5);
        font-size:1.5rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
            background: rgba($color-white,.1);
       
        }

        @media (max-width: 800px) {
            width: 11rem;
            height: 4rem;
            font-size: 1.2rem;
            border-radius: .8rem;
            border: 1px solid rgba(255,255,255,.5);
        }
        
        
        
        
        
        
        }
    }

.slide {
    &-active {
        background: linear-gradient(to left, rgba(black,1) 10%, rgba($color-black,0)80%), url('/assets/img/pepe.jpg');
    }
}

.zoom {
   transform: scale(1.3);
}

#baguetteBox-overlay .full-image figcaption {
    font-size: 2.5rem;
    background-color: rgba(0,0,0,.9);
    
    @media (max-width: 400px) {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

.diseno {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    padding: 0 0 5rem 0;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;

    @media (max-width: 400px) {
        margin-top: 4rem;
        flex-direction: column;
        width: 100vw;
    }
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        margin: 1rem;
        border: 2px solid white;
        border-radius: .8rem;
        transition: all .3s cubic-bezier(.39,.03,.04,.97);
        transform: scale(1);
        filter: grayscale(100%);
        &:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
        }

        @media (max-width: 400px){
            margin: 1rem;
            width: 12rem;
            filter: grayscale(0%);
        }
        @media (max-width: 350px){
            margin: 1rem;
            width: 20rem;
            filter: grayscale(0%);
        }
    }
}


#coin,#cassius,#nimbus,#yup {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    border-radius: .8rem;
    border: 1px solid rgba($color-white,.3);
    padding: 2rem;
    cursor: pointer;
    background-color: $color-black;
    @media (max-width: 800px) {
        width: 10rem;
        height: 10rem;
    }
    @media (max-width: 350px) {
        width: 9rem;
        height: 9rem;
    }
}
#yup {
 width: 15rem;
 height: 15rem;
 padding: 0;
}
#yup2 {
    max-height: 80vh;
    @media (max-width: 800px) {
        max-height: 70vh;
    }
}
#riafill,#rialoader{
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    border-radius: .8rem;
    border: 1px solid rgba($color-white,.3);
    padding: 2rem;
    cursor: pointer;
    background-color: $color-white;
    
    @media (max-width: 800px) {
        width: 10rem;
        height: 10rem;
    }

    @media (max-width: 350px) {
        width: 9rem;
        height: 9rem;
    }

}

#coin2,#cassius2,#nimbus2 {
    width: 45rem;
    height: 45rem;
    padding: 2rem;
    border-radius: .8rem;
    background: $color-black;
    @media (max-width: 800px) {
        border: none;
        width: 100vw;
        height: 100vw;
    }
}
#riafill2,#rialoader2 {
    width: 45rem;
    height: 45rem;
    padding: 2rem;
    border-radius: .8rem;
    background: $color-white;
    
    @media (max-width: 800px) {
        border: none;
        width: 100vw;
        height: 100vw;
    }
}


.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
   
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: rgba(0,0,0,.95);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    border: 1px solid rgba($color-white,.3);
    padding: 3rem;
    width: 50rem;
    height: 50rem;
    border-radius: 4px;
    /* overflow-y: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    &.noborder {
        border: none;
    }

    @media (max-width: 800px) {
        border: none;
        width: 100vw;
        height: 100vw;
    }
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }