@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  user-select: none; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background: url("../img/bg.png"), black;
  background-size: cover;
  background-position: center; }

* {
  font-smooth: subpixel-antialiased !important; }

.hamburger {
  outline: none;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  padding-left: 14px; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #eee; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #eee;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -11px; }

.hamburger-inner::after {
  bottom: -11px; }

/*spin*/
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
     * Spin Reverse
     */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.slider-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  @media (max-width: 800px) {
    .slider-page {
      width: 100%; } }

.swiper-container {
  position: relative;
  width: 70%;
  height: 105rem;
  transform: translatex(200px) translatey(0) rotate(9deg); }
  @media (max-width: 800px) {
    .swiper-container {
      width: 100%;
      height: 100%;
      transform: translatey(0) rotate(0);
      margin: 0; } }

.slider-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  pointer-events: none;
  transform: translate(-244px, 145px) rotate(-8deg) scale(-1.4, 1.4); }
  @media (max-width: 800px) {
    .slider-overlay {
      transform: translateY(0) rotate(0); } }

.overlaytop {
  position: absolute;
  width: 100%;
  top: 20px;
  right: 32px;
  transform: scale(-1, 1.2) rotate(12deg); }
  @media (max-width: 800px) {
    .overlaytop {
      transform: scale(1.3) translatey(-10px) translatex(18px) rotate(0); } }

.overlaybot {
  position: absolute;
  width: 100%;
  bottom: -90px;
  transform: rotate(-15deg);
  left: 0; }
  @media (max-width: 800px) {
    .overlaybot {
      display: none; } }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all .2s ease; }

.swiper-slide {
  padding: 3rem;
  width: 100%;
  height: 35%;
  border-radius: .3rem;
  background: rgba(19, 19, 19, 0.5);
  border: 1px solid rgba(238, 238, 238, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  filter: grayscale(80%);
  transition: filter .5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  @media (max-width: 800px) {
    .swiper-slide {
      height: 30%; } }

.slide-bg {
  position: absolute;
  right: -100px;
  bottom: 0; }
  .slide-bg--1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scale(-1.8, 1.8) translate(125px, 20px); }
    @media (max-width: 500px) {
      .slide-bg--1 {
        transform: scale(-1, 1) translate(-105px, 87px) rotate(-73deg); } }
  .slide-bg--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scale(-1.6, -1.6) translate(110px, -15px); }
    @media (max-width: 400px) {
      .slide-bg--2 {
        transform: scale(1.3, 1.3) translate(-159px, 109px) rotate(-84deg); } }
  .slide-bg--3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scale(-2, 2) rotate(-49deg) translate(78px, 20px); }
    @media (max-width: 500px) {
      .slide-bg--3 {
        transform: scale(-1.3, -1.3) translate(-126px, -66px) rotate(-57deg); } }

.swiper-active {
  filter: grayscale(0%); }

.swiper-button-prev, .swiper-button-next {
  display: block; }
  @media (max-width: 800px) {
    .swiper-button-prev, .swiper-button-next {
      display: none; } }

.navigation-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%; }

.slider {
  padding: 2rem; }
  .slider__name-holder {
    height: 2rem;
    position: absolute;
    z-index: 10;
    right: -77px;
    transform: translateY(40px) scale(0.5); }
  .slider__header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center; }
    @media (max-width: 800px) {
      .slider__header {
        width: 70%;
        height: 30%; } }
    @media (max-width: 500px) {
      .slider__header {
        width: 70%;
        height: unset; } }
    .slider__header h1 {
      color: #eee;
      font-size: 4rem;
      font-weight: 400;
      padding: 1rem; }
      @media (max-width: 800px) {
        .slider__header h1 {
          font-size: 2.5rem;
          padding: 0; } }
  .slider__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%; }
    @media (max-width: 800px) {
      .slider__body {
        height: 70%;
        justify-content: space-between; } }
  .slider__p {
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: 2px;
    width: 50%;
    padding: 2rem;
    border-radius: .3rem;
    color: #eee;
    background: rgba(19, 19, 19, 0.5); }
    @media (max-width: 800px) {
      .slider__p {
        font-size: 1.4;
        height: unset;
        padding: 0;
        width: 85%; } }
  .slider__button {
    width: 15rem;
    height: 5rem;
    border-radius: .8rem;
    background: rgba(19, 19, 19, 0.1);
    color: #eee;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease; }
    .slider__button:hover {
      background: rgba(238, 238, 238, 0.1); }
    @media (max-width: 800px) {
      .slider__button {
        width: 11rem;
        height: 4rem;
        font-size: 1.2rem;
        border-radius: .8rem;
        border: 1px solid rgba(255, 255, 255, 0.5); } }

.slide-active {
  background: linear-gradient(to left, black 10%, rgba(19, 19, 19, 0) 80%), url("/assets/img/pepe.jpg"); }

.zoom {
  transform: scale(1.3); }

#baguetteBox-overlay .full-image figcaption {
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.9); }
  @media (max-width: 500px) {
    #baguetteBox-overlay .full-image figcaption {
      font-size: 1.5rem;
      padding: 0 1rem; } }

.diseno {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  padding: 0 0 5rem 0;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start; }
  @media (max-width: 500px) {
    .diseno {
      margin-top: 4rem;
      flex-direction: column;
      width: 100vw; } }

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .gallery img {
    margin: 1rem;
    border: 2px solid white;
    border-radius: .8rem;
    transition: all 0.3s cubic-bezier(0.39, 0.03, 0.04, 0.97);
    transform: scale(1);
    filter: grayscale(100%); }
    .gallery img:hover {
      filter: grayscale(0%);
      transform: scale(1.1); }
    @media (max-width: 500px) {
      .gallery img {
        margin: 1rem;
        width: 12rem;
        filter: grayscale(0%); } }
    @media (max-width: 350px) {
      .gallery img {
        margin: 1rem;
        width: 20rem;
        filter: grayscale(0%); } }

#coin, #cassius, #nimbus, #yup {
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border-radius: .8rem;
  border: 1px solid rgba(238, 238, 238, 0.3);
  padding: 2rem;
  cursor: pointer;
  background-color: #131313; }
  @media (max-width: 800px) {
    #coin, #cassius, #nimbus, #yup {
      width: 10rem;
      height: 10rem; } }
  @media (max-width: 350px) {
    #coin, #cassius, #nimbus, #yup {
      width: 9rem;
      height: 9rem; } }

#yup {
  width: 15rem;
  height: 15rem;
  padding: 0; }
  @media (max-width: 800px) {
    #yup {
      width: 10rem;
      height: 10rem; } }
  @media (max-width: 350px) {
    #yup {
      width: 9rem;
      height: 9rem; } }

#yup2 {
  max-height: 80vh; }
  @media (max-width: 800px) {
    #yup2 {
      max-height: 70vh; } }

#riafill, #rialoader {
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border-radius: .8rem;
  border: 1px solid rgba(238, 238, 238, 0.3);
  padding: 2rem;
  cursor: pointer;
  background-color: #eee; }
  @media (max-width: 800px) {
    #riafill, #rialoader {
      width: 10rem;
      height: 10rem; } }
  @media (max-width: 350px) {
    #riafill, #rialoader {
      width: 9rem;
      height: 9rem; } }

#coin2, #cassius2, #nimbus2 {
  width: 45rem;
  height: 45rem;
  padding: 2rem;
  border-radius: .8rem;
  background: #131313; }
  @media (max-width: 800px) {
    #coin2, #cassius2, #nimbus2 {
      border: none;
      width: 100vw;
      height: 100vw; } }

#riafill2, #rialoader2 {
  width: 45rem;
  height: 45rem;
  padding: 2rem;
  border-radius: .8rem;
  background: #eee; }
  @media (max-width: 800px) {
    #riafill2, #rialoader2 {
      border: none;
      width: 100vw;
      height: 100vw; } }

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; }

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center; }

.modal__container {
  border: 1px solid rgba(238, 238, 238, 0.3);
  padding: 3rem;
  width: 50rem;
  height: 50rem;
  border-radius: 4px;
  /* overflow-y: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }
  .modal__container.noborder {
    border: none; }
  @media (max-width: 800px) {
    .modal__container {
      border: none;
      width: 100vw;
      height: 100vw; } }

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box; }

.modal__close {
  background: transparent;
  border: 0; }

.modal__header .modal__close:before {
  content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8); }

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out; }

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.modal__btn-primary {
  background-color: #00449e;
  color: #fff; }

/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes mmslideIn {
  from {
    transform: translateY(15%); }
  to {
    transform: translateY(0); } }

@keyframes mmslideOut {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-10%); } }

.micromodal-slide {
  display: none; }

.micromodal-slide.is-open {
  display: block; }

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform; }

.main-button {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: .3rem;
  color: #131313;
  background: #eee;
  letter-spacing: 1px; }

@keyframes appear {
  0% {
    transform: scalex(0); }
  100% {
    transform: scaleX(1); } }

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px); }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1);
    transform: translatey(-20px); }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px); } }

@keyframes glitch {
  0% {
    transform: translate(2px, -1px);
    opacity: .8; }
  20% {
    opacity: .2; }
  30% {
    opacity: 1; }
  40% {
    opacity: .3;
    transform: translate(0px, -1px); }
  50% {
    transform: translate(2px, 0);
    opacity: .5; }
  70% {
    transform: translate(-3px, 2px);
    opacity: 1; }
  100% {
    transform: translate(2px, -1px);
    opacity: .8; } }

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1; }
  7% {
    transform: translateX(1px, 2px);
    opacity: 0.75; }
  10% {
    transform: none;
    opacity: 1; }
  27% {
    transform: none;
    opacity: 1; }
  30% {
    transform: translateX(-1px, 0);
    opacity: 0.75; }
  35% {
    transform: none;
    opacity: 1; }
  52% {
    transform: none;
    opacity: 1; }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75; }
  50% {
    transform: none;
    opacity: 1; }
  72% {
    transform: none;
    opacity: 1; }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75; }
  80% {
    transform: none;
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25; }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5; }
  10% {
    transform: none;
    opacity: 0.25; }
  27% {
    transform: none;
    opacity: 0.25; }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5; }
  35% {
    transform: none;
    opacity: 0; }
  52% {
    transform: none;
    opacity: 0.25; }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5; }
  50% {
    transform: none;
    opacity: 0.25; }
  72% {
    transform: none;
    opacity: 0.25; }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5; }
  80% {
    transform: none;
    opacity: 0; }
  100% {
    transform: none;
    opacity: 0.25; } }

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25; }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5; }
  10% {
    transform: none;
    opacity: 0.25; }
  27% {
    transform: none;
    opacity: 0.25; }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5; }
  35% {
    transform: none;
    opacity: 0.25; }
  52% {
    transform: none;
    opacity: 0.25; }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5; }
  50% {
    transform: none;
    opacity: 0.25; }
  72% {
    transform: none;
    opacity: 0.25; }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5; }
  80% {
    transform: none;
    opacity: 0.25; }
  100% {
    transform: none;
    opacity: 0.25; } }

@keyframes three {
  0% {
    opacity: 0;
    transform: translate(0, 0); }
  25% {
    opacity: .5;
    transform: translate(5px, 0); }
  50% {
    opacity: .3;
    transform: translate(0, 0); }
  80% {
    opacity: .2;
    transform: translate(-3px, 0); }
  100% {
    opacity: 0;
    transform: translate(0, 0); } }

@keyframes blend {
  0% {
    opacity: 1; }
  80% {
    opacity: 0.35; }
  100% {
    opacity: 1; } }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) translatey(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(-2rem) translatey(-10rem); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blurry {
  0% {
    opacity: 0;
    filter: blur(15px); }
  100% {
    opacity: 1;
    filter: blur(0px); } }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  transform-origin: bottom right;
  transform: scale(1);
  z-index: 10; }
  .footer__links {
    width: 15rem;
    height: 3rem;
    position: fixed;
    bottom: 1rem;
    right: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    @media (max-width: 850px) {
      .footer__links {
        display: none; } }
    .footer__links-item {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: filter .5s ease;
      cursor: pointer; }
      .footer__links-item:hover {
        filter: invert(100%); }
  .footer__splatter {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    transform: rotate(80deg) translatex(24%) translatey(31%) scale(-1.7); }
    @media (max-width: 850px) {
      .footer__splatter {
        display: none; } }

.content {
  width: calc(100% - 18rem);
  background-color: #eee;
  margin-left: 18rem; }

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.picture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 50%); }

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  opacity: .5;
  transition: opacity 1s ease; }
  .overlay.active {
    opacity: 1; }

#background {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 102vh;
  transform: scale(1.3); }

.info-holder {
  width: 100%;
  height: 100vh;
  border-radius: .3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10rem; }
  @media (max-width: 850px) {
    .info-holder {
      flex-direction: column-reverse;
      margin-top: 0; } }

.info__main {
  position: relative;
  z-index: 0;
  width: 50%;
  min-height: 85vh;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }
  @media (max-width: 850px) {
    .info__main {
      width: 100%;
      height: 100%;
      min-height: unset; } }

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  transform: translateX(0);
  transition: all 0.8s cubic-bezier(0.71, 0, 0.24, 1);
  transition-delay: 0.1s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 850px) {
    .main-content {
      width: 100%;
      margin-right: 5rem; } }
  .main-content.active {
    transform: translatex(0rem);
    filter: grayscale(50%) contrast(100%);
    pointer-events: none; }
  .main-content__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
    user-select: none; }
    .main-content__item--header {
      width: 70%;
      height: 30%;
      text-align: left; }
      .main-content__item--header h1 {
        height: 100%;
        font-size: 4.5rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #131313;
        background: white; }
    .main-content__item--sub {
      width: 40%;
      color: #ca2437;
      transform: rotate(-90deg) translate(85px, -122px);
      line-height: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      text-align: left; }
      .main-content__item--sub h2 {
        padding: 0 1rem;
        font-weight: 400;
        font-size: 1rem;
        background: black;
        color: white;
        margin-left: -4px; }

.mobile-nav {
  display: none; }
  @media (max-width: 850px) {
    .mobile-nav {
      display: block; } }

.desktop-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10; }
  @media (max-width: 850px) {
    .desktop-nav {
      display: none; } }
  .desktop-nav__holder {
    min-width: 70rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 10rem; }
  .desktop-nav__item, .desktop-nav__item--1, .desktop-nav__item--2, .desktop-nav__item--3 {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 1px solid rgba(238, 238, 238, 0.2);
    background: rgba(19, 19, 19, 0.4);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s cubic-bezier(0.95, 0, 0.33, 1); }
    .desktop-nav__item--1::after, .desktop-nav__item--1--1::after, .desktop-nav__item--2--1::after, .desktop-nav__item--3--1::after {
      content: "Skillset";
      text-align: center;
      padding: 0.1rem 1rem;
      text-transform: uppercase;
      position: absolute;
      bottom: -3rem;
      font-size: 1.3rem;
      border-radius: 0.3rem;
      color: #eee;
      border: 1px solid rgba(238, 238, 238, 0.2);
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.95, 0, 0.33, 1); }
    .desktop-nav__item:hover::after, .desktop-nav__item--1:hover::after, .desktop-nav__item--2:hover::after, .desktop-nav__item--3:hover::after {
      opacity: 1;
      transform: translateY(0); }
    .desktop-nav__item--2::after, .desktop-nav__item--1--2::after, .desktop-nav__item--2--2::after, .desktop-nav__item--3--2::after {
      content: "Proyectos";
      text-align: center;
      padding: 0.1rem 1rem;
      text-transform: uppercase;
      position: absolute;
      bottom: -3rem;
      font-size: 1.3rem;
      border-radius: 0.3rem;
      color: #eee;
      border: 1px solid rgba(238, 238, 238, 0.2);
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.95, 0, 0.33, 1); }
    .desktop-nav__item:hover::after, .desktop-nav__item--1:hover::after, .desktop-nav__item--2:hover::after, .desktop-nav__item--3:hover::after {
      opacity: 1;
      transform: translateY(0); }
    .desktop-nav__item--3::after, .desktop-nav__item--1--3::after, .desktop-nav__item--2--3::after, .desktop-nav__item--3--3::after {
      content: "Contacto";
      text-align: center;
      padding: 0.1rem 1rem;
      text-transform: uppercase;
      position: absolute;
      bottom: -3rem;
      font-size: 1.3rem;
      border-radius: 0.3rem;
      color: #eee;
      border: 1px solid rgba(238, 238, 238, 0.2);
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.3s ease; }
    .desktop-nav__item:hover::after, .desktop-nav__item--1:hover::after, .desktop-nav__item--2:hover::after, .desktop-nav__item--3:hover::after {
      opacity: 1;
      transform: translateY(0); }
    .desktop-nav__item img, .desktop-nav__item--1 img, .desktop-nav__item--2 img, .desktop-nav__item--3 img {
      width: 4.5rem;
      height: 4.5rem;
      opacity: 0.5;
      transition: opacity 0.5s ease; }
    .desktop-nav__item:hover img, .desktop-nav__item--1:hover img, .desktop-nav__item--2:hover img, .desktop-nav__item--3:hover img {
      opacity: 1; }

.nav__toggler {
  position: fixed;
  z-index: 10;
  min-height: 100vh;
  width: 6rem;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.nav__button {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-items: center; }

.nav__content {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 40rem;
  height: 100vh;
  background: black;
  transform: translatex(100%);
  backdrop-filter: blur(10px);
  transition: transform 0.5s cubic-bezier(0.71, 0, 0.24, 1); }
  .nav__content-header {
    width: 100%;
    padding: 2rem;
    height: 10%; }
  .nav__content-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    height: 80%; }
  .nav__content-social {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .nav__content-social-icon {
      height: 4rem;
      width: 4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
  .nav__content.active {
    transform: translateX(0rem); }

.nav__link {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  padding-left: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  color: white; }
  .nav__link a {
    font-size: 2rem;
    text-decoration: none;
    color: white; }

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  @media (max-width: 800px) {
    .home {
      width: 100%;
      margin-top: 0;
      flex-direction: column-reverse; } }
  .home__section {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 2rem; }
    .home__section--container {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      border: 1px solid rgba(238, 238, 238, 0.2);
      border-radius: 0.3rem; }
  .home__left {
    position: relative;
    right: 10px;
    height: 85vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (max-width: 400px) {
      .home__left {
        height: 40vh;
        width: 100%;
        justify-content: flex-start; } }
  .home__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-84px, -90px) scale(1.3); }
    @media (max-width: 800px) {
      .home__right {
        transform: translate(0, 0) scale(1);
        height: 60vh;
        width: 100vw; } }
  .home__info-container {
    width: 100%;
    height: 12rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (max-width: 500px) {
      .home__info-container {
        align-items: center; } }
  .home__title {
    text-align: center;
    color: #fff;
    font-size: 5rem;
    letter-spacing: 8px;
    font-weight: 100;
    margin: 0;
    line-height: 0;
    padding: 0 4rem; }
    @media (max-width: 800px) {
      .home__title {
        font-size: 3rem;
        padding: 0; } }
    @media (max-width: 350px) {
      .home__title {
        font-size: 2rem; } }
    .home__title:nth-child(2) {
      color: #4ecdff;
      animation: glitch2 3s infinite; }
    .home__title:nth-child(3) {
      color: #f16f6f;
      animation: glitch3 4s infinite; }
    @media (max-width: 800px) {
      .home__title.port {
        display: none; } }
  .home__sub {
    font-size: 2rem;
    font-weight: 100;
    color: #eee;
    margin-right: 1rem;
    transform: translateY(2.5rem);
    padding: 0 4rem; }
    @media (max-width: 800px) {
      .home__sub {
        font-size: 1.5rem;
        padding: 0; } }
    .home__sub--2 {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #eee; }
      @media (max-width: 800px) {
        .home__sub--2 {
          font-size: 1.2rem;
          padding: 0; } }
  .home__picture {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    animation: blurry 1s cubic-bezier(0.39, 0.03, 0.04, 0.97);
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
    transform: translate(-50px, 86px); }
    @media (max-width: 500px) {
      .home__picture {
        position: relative;
        top: 10rem;
        left: 3rem;
        transform: scale(1.3) translate(3px, -110px); } }
    .home__picture--1 {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      animation: glitch 7s ease;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards; }
    .home__picture--2 {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      animation: three 6s ease;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards; }
    .home__picture--3 {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 1;
      animation: blend 7s ease;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards; }
    .home__picture--4 {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 1;
      z-index: -1;
      animation: fade-in 0.8s cubic-bezier(0.93, 0.01, 0.3, 1.01);
      animation-fill-mode: backwards;
      animation-delay: 1.3s; }

.divider {
  position: absolute;
  bottom: 0;
  transform: translateY(50rem) scale(-1, 0.3);
  display: none; }
  @media (max-width: 500px) {
    .divider {
      top: -261px;
      left: 0;
      transform: translateY(50rem) scale(-1, 0.5); } }

.notop {
  margin-top: 0; }

.skillset {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start; }
  @media (max-width: 500px) {
    .skillset {
      flex-direction: column;
      width: 100vw; } }
  .skillset.animation {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 800px) {
      .skillset.animation {
        width: 100vw; } }
    @media (max-width: 350px) {
      .skillset.animation {
        height: unset; } }
  .skillset__title-holder {
    position: relative;
    width: 100%;
    transform: translateY(3rem); }
  .skillset__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%; }
    @media (max-width: 500px) {
      .skillset__card {
        width: 100%; } }
    .skillset__card-icon {
      width: 6rem;
      min-width: 6rem;
      margin: 2rem;
      position: relative; }
      .skillset__card-icon img {
        opacity: .3; }
    .skillset__card-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0 2rem; }
      .skillset__card-title h1 {
        color: #eee;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative; }
        @media (max-width: 500px) {
          .skillset__card-title h1 {
            font-size: 2rem; } }
    .skillset__card--top {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: rgba(19, 19, 19, 0.8); }
      @media (max-width: 500px) {
        .skillset__card--top {
          width: 100%;
          text-align: right;
          height: 7rem; } }
      .skillset__card--top2 {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        background: rgba(19, 19, 19, 0.8); }
        @media (max-width: 500px) {
          .skillset__card--top2 {
            width: 100%;
            margin-bottom: 2.5rem;
            height: 7rem;
            flex-direction: row;
            text-align: right; } }
    .skillset__card--bottom {
      width: 100%;
      height: 15rem;
      padding: 2rem; }
    .skillset__card-description {
      width: 100%;
      height: 13rem;
      border-radius: .8rem;
      background: rgba(19, 19, 19, 0.8);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 2rem; }
      .skillset__card-description p {
        color: #eee;
        font-size: 1.6rem;
        font-weight: 100; }
  .skillset__title {
    text-align: center;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
    font-weight: 100;
    margin: 0;
    line-height: 0; }
    @media (max-width: 800px) {
      .skillset__title {
        font-size: 2rem; } }
    @media (max-width: 350px) {
      .skillset__title {
        font-size: 1.7rem;
        margin-left: 1rem; } }
    .skillset__title:nth-child(2) {
      color: #4ecdff;
      animation: glitch2 3s infinite; }
    .skillset__title:nth-child(3) {
      color: #f16f6f;
      animation: glitch3 4s infinite; }
  .skillset__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5rem; }
    @media (max-width: 500px) {
      .skillset__container {
        flex-direction: column;
        margin-bottom: 2.5rem; } }
    .skillset__container-top {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 10rem; }

.proyect-site, .proyect-site2, .proyect-site3 {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 500px) {
    .proyect-site, .proyect-site2, .proyect-site3 {
      flex-direction: column; } }
  .proyect-site2, .proyect-site22, .proyect-site32 {
    flex-direction: row-reverse; }
    @media (max-width: 500px) {
      .proyect-site2, .proyect-site22, .proyect-site32 {
        flex-direction: column;
        margin-top: 0; } }
  @media (max-width: 500px) {
    .proyect-site3, .proyect-site23, .proyect-site33 {
      flex-direction: column;
      margin-top: 0; } }
  @media (max-width: 850px) {
    .proyect-site, .proyect-site2, .proyect-site3 {
      flex-direction: column; } }
  .proyect-site--1, .proyect-site2--1, .proyect-site3--1 {
    height: 40rem; }
    @media (max-width: 850px) {
      .proyect-site--1, .proyect-site2--1, .proyect-site3--1 {
        height: 18rem; } }
  .proyect-site__left, .proyect-site2__left, .proyect-site3__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    @media (max-width: 850px) {
      .proyect-site__left, .proyect-site2__left, .proyect-site3__left {
        width: 100%;
        height: 50%; } }
  .proyect-site__left2, .proyect-site2__left2, .proyect-site3__left2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    @media (max-width: 850px) {
      .proyect-site__left2, .proyect-site2__left2, .proyect-site3__left2 {
        width: 100%;
        height: 50%; } }
  .proyect-site__right, .proyect-site2__right, .proyect-site3__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem; }
    @media (max-width: 850px) {
      .proyect-site__right, .proyect-site2__right, .proyect-site3__right {
        width: 100%;
        height: 30%;
        justify-content: center; } }
  .proyect-site__right2, .proyect-site2__right2, .proyect-site3__right2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem; }
    @media (max-width: 850px) {
      .proyect-site__right2, .proyect-site2__right2, .proyect-site3__right2 {
        width: 100%;
        height: 30%;
        justify-content: center; } }
  .proyect-site__holder, .proyect-site2__holder, .proyect-site3__holder {
    width: 50rem;
    height: 50rem;
    background: rgba(19, 19, 19, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 6s ease;
    animation-iteration-count: infinite; }
    @media (max-width: 850px) {
      .proyect-site__holder, .proyect-site2__holder, .proyect-site3__holder {
        width: 23rem;
        height: 23rem; } }
  .proyect-site__number, .proyect-site2__number, .proyect-site3__number {
    width: 50%;
    height: 100%; }
    .proyect-site__number h1, .proyect-site2__number h1, .proyect-site3__number h1 {
      font-family: "Open Sans Condensed", sans-serif;
      width: 100%;
      height: 100%;
      color: #eee;
      font-weight: 700;
      font-size: 90rem;
      line-height: 63rem;
      pointer-events: none; }
      @media (max-width: 850px) {
        .proyect-site__number h1, .proyect-site2__number h1, .proyect-site3__number h1 {
          font-size: 43rem;
          line-height: 40rem; } }
      @media (max-width: 500px) {
        .proyect-site__number h1, .proyect-site2__number h1, .proyect-site3__number h1 {
          font-size: 30rem;
          line-height: 22rem; } }
  .proyect-site__info, .proyect-site2__info, .proyect-site3__info {
    width: 100%;
    position: relative;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    @media (max-width: 850px) {
      .proyect-site__info .bottom, .proyect-site2__info .bottom, .proyect-site3__info .bottom {
        height: 50rem;
        width: 100%;
        background: green; } }
  .proyect-site__link-holder, .proyect-site2__link-holder, .proyect-site3__link-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 500px) {
      .proyect-site__link-holder, .proyect-site2__link-holder, .proyect-site3__link-holder {
        width: 100%;
        justify-content: space-around; } }
  .proyect-site__header, .proyect-site2__header, .proyect-site3__header {
    position: relative;
    width: 100%;
    font-weight: 200;
    padding: 2.5rem 0 2.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; }
    @media (max-width: 400px) {
      .proyect-site__header, .proyect-site2__header, .proyect-site3__header {
        flex-direction: column; } }
    .proyect-site__header2, .proyect-site2__header2, .proyect-site3__header2 {
      position: relative;
      width: 100%;
      font-weight: 400;
      padding: 2.5rem 1rem 2.5rem 0;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-between; }
      .proyect-site__header2::after, .proyect-site2__header2::after, .proyect-site3__header2::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.3rem;
        background-color: #ca2437;
        bottom: 0rem;
        right: 0;
        animation: appear 0.5s ease; }
      @media (max-width: 400px) {
        .proyect-site__header2, .proyect-site2__header2, .proyect-site3__header2 {
          flex-direction: column; } }
    .proyect-site__header-sub, .proyect-site2__header-sub, .proyect-site3__header-sub {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: #131313;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem;
      border-radius: 0.3rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #eee;
      text-decoration: none;
      transition: filter 0.3s ease; }
      .proyect-site__header-sub:hover, .proyect-site2__header-sub:hover, .proyect-site3__header-sub:hover {
        filter: invert(100%); }
      .proyect-site__header-sub:not(:last-child), .proyect-site2__header-sub:not(:last-child), .proyect-site3__header-sub:not(:last-child) {
        margin-right: 2rem; }
      @media (max-width: 500px) {
        .proyect-site__header-sub, .proyect-site2__header-sub, .proyect-site3__header-sub {
          font-size: 1.2rem;
          margin-top: -2rem;
          font-weight: 400; } }
    .proyect-site__header::after, .proyect-site2__header::after, .proyect-site3__header::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.3rem;
      background-color: #ca2437;
      bottom: 0rem;
      right: 0;
      animation: appear 0.5s ease; }
  .proyect-site__title, .proyect-site2__title, .proyect-site3__title {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 6rem;
    color: #eee;
    margin-bottom: -1rem; }
    @media (max-width: 500px) {
      .proyect-site__title, .proyect-site2__title, .proyect-site3__title {
        margin-bottom: 4rem;
        margin-right: 2rem;
        font-size: 5rem; } }
  .proyect-site__description, .proyect-site2__description, .proyect-site3__description {
    position: relative;
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.5rem;
    width: 100%;
    background: rgba(19, 19, 19, 0.8);
    color: #eee; }
    @media (max-width: 850px) {
      .proyect-site__description, .proyect-site2__description, .proyect-site3__description {
        width: 100%;
        font-weight: 400;
        line-height: 2rem; } }
    @media (max-width: 500px) {
      .proyect-site__description, .proyect-site2__description, .proyect-site3__description {
        width: 100%; } }
  .proyect-site .tech, .proyect-site2 .tech, .proyect-site3 .tech {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    .proyect-site .tech2, .proyect-site2 .tech2, .proyect-site3 .tech2 {
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
      @media (max-width: 850px) {
        .proyect-site .tech2, .proyect-site2 .tech2, .proyect-site3 .tech2 {
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-around; } }
    @media (max-width: 850px) {
      .proyect-site .tech, .proyect-site2 .tech, .proyect-site3 .tech {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around; } }
    .proyect-site .tech-info, .proyect-site2 .tech-info, .proyect-site3 .tech-info {
      text-align: right;
      margin-top: 2rem;
      font-size: 1.2rem; }
      @media (max-width: 850px) {
        .proyect-site .tech-info, .proyect-site2 .tech-info, .proyect-site3 .tech-info {
          margin-bottom: 1.5rem;
          margin-top: 1rem; } }
      .proyect-site .tech-info2, .proyect-site2 .tech-info2, .proyect-site3 .tech-info2 {
        margin-top: 2rem;
        font-size: 1.2rem;
        text-align: left; }
        @media (max-width: 850px) {
          .proyect-site .tech-info2, .proyect-site2 .tech-info2, .proyect-site3 .tech-info2 {
            margin-bottom: 1.5rem;
            margin-top: 1rem;
            text-align: right; } }
    .proyect-site .tech-holder, .proyect-site2 .tech-holder, .proyect-site3 .tech-holder {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem; }
    .proyect-site .tech-holder2, .proyect-site2 .tech-holder2, .proyect-site3 .tech-holder2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem; }
    .proyect-site .tech-item, .proyect-site2 .tech-item, .proyect-site3 .tech-item {
      width: 2.5rem;
      height: 2.5rem;
      opacity: .5; }
      .proyect-site .tech-item:not(:last-child), .proyect-site2 .tech-item:not(:last-child), .proyect-site3 .tech-item:not(:last-child) {
        margin-right: 1rem; }
    .proyect-site .tech-item2, .proyect-site2 .tech-item2, .proyect-site3 .tech-item2 {
      width: 3rem;
      height: 2.5rem;
      opacity: .5; }
      .proyect-site .tech-item2:not(:first-child), .proyect-site2 .tech-item2:not(:first-child), .proyect-site3 .tech-item2:not(:first-child) {
        margin-left: 1rem; }
      .proyect-site .tech-item2 img, .proyect-site2 .tech-item2 img, .proyect-site3 .tech-item2 img {
        height: 2rem; }

.splatter {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left;
  z-index: -1; }
  .splatter2 {
    position: absolute;
    transform: scale(-1) translatex(-9rem);
    transform-origin: center;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .splatter__proyect1 {
    position: absolute;
    left: 0;
    z-index: -1;
    transform: scale(1.2); }
  .splatter__proyect2 {
    position: absolute;
    right: 0;
    z-index: -1;
    transform: scale(-1.2); }
  .splatter__proyect3 {
    position: absolute;
    right: 0;
    z-index: -5;
    transform: scale(-1.3) rotate(-20deg); }

.icon-svg {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem; }
  @media (max-width: 500px) {
    .icon-svg {
      margin-right: .8rem; } }

.disabled {
  pointer-events: none; }

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem; }
  .contact__sub {
    margin: 2rem 0; }
  .contact__a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    border: 1px solid rgba(238, 238, 238, 0.5);
    padding: 1rem 2rem;
    background-color: transparent;
    color: #eee;
    transition: color .5s ease, background-color  .5s ease; }
    .contact__a:hover {
      color: #131313;
      background-color: #eee; }
  .contact__form {
    border: 1px solid rgba(238, 238, 238, 0.3);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 2rem;
    color: #eee;
    font-size: 1.5rem; }
    @media (max-width: 400px) {
      .contact__form {
        align-items: center;
        width: 90%; } }
  .contact__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0;
    border-radius: .8rem;
    font-size: 1.8rem;
    text-transform: uppercase; }
    @media (max-width: 400px) {
      .contact__label {
        width: 100%; } }
  .contact__input {
    width: 50rem;
    margin-top: 2rem;
    background: rgba(19, 19, 19, 0.3);
    border: 1px solid rgba(238, 238, 238, 0.3);
    height: 5rem;
    transition: border .8s ease;
    color: #eee;
    padding: 0 1rem;
    font-size: 1.8rem; }
    @media (max-width: 400px) {
      .contact__input {
        width: 100%; } }
  .contact__textarea {
    width: 50rem;
    height: 15rem;
    border-radius: .3rem;
    margin-top: 2rem;
    resize: none;
    background: rgba(19, 19, 19, 0.3);
    border: 1px solid rgba(238, 238, 238, 0.3);
    transition: border .8s ease;
    color: #eee;
    padding: 1rem;
    font-size: 1.8rem; }
    @media (max-width: 400px) {
      .contact__textarea {
        width: 105%;
        align-self: center; } }
  .contact__button {
    width: 10rem;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    background: #131313;
    color: #eee;
    border: 1px solid rgba(238, 238, 238, 0.5);
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter .5s ease;
    cursor: pointer; }
    .contact__button:hover {
      filter: invert(100%); }

input:focus, textarea:focus, select:focus {
  border: 0.15rem solid rgba(238, 238, 238, 0.5);
  outline: none; }

.success {
  margin-top: 10rem; }
